.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px; /* Set row gap */
    grid-column-gap: 120px; /* Set column gap */
    height: 100vh;
    width: 100%;
    max-width: 1280px; /* Set a maximum width for the container */
    margin-bottom: 10px;
    margin-left: 10px; 
    margin-right: 10px; 
    transform: scale(0.80); 
  }

  .rotor-icon {
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 10px;
  }
  
  .camera-icon {
    grid-area: 1 / 2 / 2 / 3;
    margin-right: 10px;
  }
  
  .weather-icon {
    grid-area: 1 / 3 / 2 / 4;
    margin-right: 10px;
  }
  
  .wind-icon {
    grid-area: 1 / 4 / 2 / 5;
    margin-right: 10px;
  }
  
  .landing-icon {
    grid-area: 1 / 5 / 2 / 6;
    margin-right: 10px;
  }
  
  .warning-icon {
    grid-area: 1 / 6 / 2 / 7;
  }
  
  .speed-icon {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .battery-icon {
    grid-area: 3 / 1 / 4 / 2;
  }
  
  .altitude-icon {
    grid-area: 4 / 1 / 5 / 2;
  }
  
  .distance-icon {
    grid-area: 5 / 1 / 6 / 2;
  }
  
  .drone-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 20px 0; /* Change from padding: 20px; */
    box-sizing: border-box;
    height: 276px; /* Set block height */
    width: 413px; /* Set block width */
    position: relative; /* Add this line */
  }

  .top-row-icons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 10px;
    margin-left: 21px;
  }
  
  .left-column-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 170px;
    margin-bottom: 40px;
    left: 21px; /* Adjust the left position to center the icons */
    transform: translateY(-50%);
  }

  .left-column-icons > .icon-wrapper {
    margin-bottom: 15px; /* Add margin between icons */
  }
  
  .left-column-icons > .icon-wrapper:last-child {
    margin-bottom: 0; /* Remove margin from the last icon */
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25px;
    height: 36px;
  }

  .icon-wrapper:last-child {
    margin-right: 0; /* Add this line */
  }
  
  .icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .icon-text {
    font-size: 8px;
    font-weight: bold;
    text-align: center;
  }
  
  .camera-view {
    width: 346px; /* Set video camera width */
    height: 194px; /* Set video camera height */
    background-color: #000;
    position: absolute; /* Change from relative to absolute */
    bottom: 0px; /* Add this line */
    right: 0px; /* Add this line */
  }
  
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }